---
export interface Props {
  title: string;
}

import { Header } from "@components/Header";
const {title} = Astro.props;
import {getUserPreferences, getPreferredLangFromHeader} from "@lib/utils";
import "../global.css";
import "@unocss/reset/tailwind.css";
let userPreferences = getUserPreferences(Astro);

// SETUP I18N
const preferredLocale = getPreferredLangFromHeader(Astro.request)
const initialDictModule = await import(`../i18n/${preferredLocale}.ts`)
const initialDict = {
  [preferredLocale]: initialDictModule.default
}
const initialPath = Astro.url.pathname
---

<!DOCTYPE html>
<html
  lang="en"
  class={`bg-base ${
    userPreferences?.prefersDark
      ? "dark"
      : userPreferences?.prefersDark === false
      ? "light"
      : ""
  }`}
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/icons/site.webmanifest" />
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#ff691f" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#202020" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" />
    <script src="/src/pwa.ts"></script>

    <!-- {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />} -->
  </head>
  <body class="font-sans leading-relaxed bg-base text-surface pb-[54px]">
    <Header client:load prefersDark={userPreferences?.prefersDark} locale={preferredLocale} initialDict={initialDict} initialPath={initialPath} />
    <slot />
    {import.meta.env.PROD && 
    // <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "89d66736f5cc483f80819161bfd67ead"}'>
    </script>
    // <!-- End Cloudflare Web Analytics -->
    }
  </body>
</html>
